/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.env.PCFitxatge
.env.SMI2000ADH
.env.SERVIDOR
.env.DESKTOP-HCBQ1DU
.env.fr-int-web1047.main-hosting.eu
storage/framework/sessions/a2UcLa5ve8bytSuFeYxE1YcShsXPghI3v5xJFbwW
storage/framework/sessions/kI5c0G35BKeUh2zu7EVrhuDVpY3Ea0kwWcWWKpfy
storage/framework/sessions/lU8KnUWfmWa8c84zOGkjxIOJ8dgS2u5xUdtJN2Vc
storage/framework/sessions/oyH2OELX4HatDy5DlcyA6e73jp30HnsuwECCL07D
storage/framework/views/00ff12d667de28018447c08bd349b24985ff78de.php
storage/framework/views/4c202e47b31915ed5a05561d56363f5b81777300.php
storage/framework/views/58924f9ca9c555ec4a079ccf9719643b71ccf615.php
storage/framework/views/aa639ee2371260f8232e6ed66a460548a5b0a1b7.php
storage/framework/views/b3927a99ea93857e124eb7a9a6572189c31c3755.php
storage/framework/views/ce166db4ffabeb917b91cdec69a34b38e2fff485.php
storage/framework/views/d010e665d320474241a5ce8c3130bb40343bc4ee.php
storage/framework/views/dd57b897b379a37433f874735eaf7f3a721892bd.php
