/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.env.PCFitxatge
.env.SMI2000ADH
.env.SERVIDOR
.env.DESKTOP-HCBQ1DU
.env.fr-int-web1047.main-hosting.eu
storage/framework/sessions/a2UcLa5ve8bytSuFeYxE1YcShsXPghI3v5xJFbwW
storage/framework/sessions/kI5c0G35BKeUh2zu7EVrhuDVpY3Ea0kwWcWWKpfy
storage/framework/sessions/lU8KnUWfmWa8c84zOGkjxIOJ8dgS2u5xUdtJN2Vc
storage/framework/sessions/oyH2OELX4HatDy5DlcyA6e73jp30HnsuwECCL07D
storage/framework/views/00ff12d667de28018447c08bd349b24985ff78de.php
storage/framework/views/4c202e47b31915ed5a05561d56363f5b81777300.php
storage/framework/views/58924f9ca9c555ec4a079ccf9719643b71ccf615.php
storage/framework/views/aa639ee2371260f8232e6ed66a460548a5b0a1b7.php
storage/framework/views/b3927a99ea93857e124eb7a9a6572189c31c3755.php
storage/framework/views/ce166db4ffabeb917b91cdec69a34b38e2fff485.php
storage/framework/views/d010e665d320474241a5ce8c3130bb40343bc4ee.php
storage/framework/views/dd57b897b379a37433f874735eaf7f3a721892bd.php
storage/framework/views/77690181250aeaeba4fe5f2723485d691ca820f8.php
storage/framework/views/77690181250aeaeba4fe5f2723485d691ca820f8.php
storage/framework/sessions/2ADKhiUKsTgqEU2qi3TitBGD5zyikrUJEh9cwUPi
storage/framework/sessions/4442LwSBnO7xlYD4J0SiJrO5rG8ngxt9RUwW7WEK
storage/framework/sessions/5KjcHMqUvprJZ35TDeEhUvGcxAatYOSFLxcJIlOP
storage/framework/sessions/6JgmM9smnKat1DtnjXPm4fhrhVnoRlvIQAE7x4Bj
storage/framework/sessions/6TuH83hQwbrdKcmUBN6q7yqxTf3Kfh5ScnXDuMSm
storage/framework/sessions/70ffVfydXiBPSYRihujQH1llUDZt5lD61e0tnWBQ
storage/framework/sessions/gDJPSMewvX3Ms5g088Kd72X6l3k8STzZfSgvkwBT
storage/framework/sessions/hVZ5vLgMwwM9e7xYWtOPzZszA8dQzG9lrtnbpoJP
storage/framework/sessions/LqEtFyOUG6SJG55wbRjdRldQQL0rsQnKVYow2WJX
storage/framework/sessions/RJb1xsTUdTp9foIDF36IfOcJfhrX8mGYDxyMBF5f
storage/framework/sessions/rT17kRNBwMp0rZdWOr7bccCHntYva1smMKN0jG0H
storage/framework/sessions/SMDBOVmbr1S40y1VHck56zfl2e0BOjRZLRlhoktA
storage/framework/sessions/6TuH83hQwbrdKcmUBN6q7yqxTf3Kfh5ScnXDuMSm
storage/framework/sessions/43z72jeii1fYIc9S9sZsqMNYuXTWPyniSoB1a3fP
storage/framework/sessions/NyKhn7IGDmrKAb2M8sxbHpWiKWXjXdymWpFdJAiN
storage/framework/sessions/QiSM7h6BPo78FBhJ95Ozx4zRAJ59p12vemvqpR2G
storage/framework/sessions/zlGsWTBHYEwDNCVZnxVdoD6sjYoYxixqz0cc0CGD
/public/temp
storage/framework/views/77690181250aeaeba4fe5f2723485d691ca820f8.php
